<template>
  <div>

  <div class="navegation  fixed-top ">  
  <b-navbar toggleable="lg"  style="background-color:#4CAF50">
    <b-navbar-brand href="#"><img src="https://image.flaticon.com/icons/png/512/69/69398.png" alt="photo" width="35"></b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav class="ml-auto" style="font-weight:600;">
        <b-nav-item href="#">ABOUT</b-nav-item>
        <b-nav-item href="#">WORK</b-nav-item>
        <b-nav-item href="#">SERVICES</b-nav-item>
        <b-nav-item href="#">CONTACT</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  </div>  <!-- end navbar--->
  
   <b-container fluid class="header-content"> 
    <b-container>
     <b-row  class="text-center">
          <b-col md="12" class="p-5">  
                  <span class="a">Building <b>solutions</b> <br> made simple</span> 
                  <p class="p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit, fuga quo fugiat mollitia quasi recusandae a, placeat veniam excepturi libero animi.  </p>
                  <b-button id="btn1" pill style="background-color:#4CAF50">GET STARTED</b-button>   
          </b-col>
     </b-row>
    </b-container>
   </b-container>   <!---  end header-content-->

    <b-container  fluid class="main-content">
      <b-container>
        <b-row class="text-center">
          <b-col md="3" class="p-4"> <img src="../assets/tuerca.png" alt="ph1" width="70"> <h3>  <b>Working</b>  </h3> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam  reiciendis  eaque quo numquam nisi!</p>  </b-col>
          <b-col md="3" class="p-4"> <img src="../assets/tuerca.png" alt="ph2" width="70"><h3> <b>Princing</b></h3> <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam,ab molestias natus eum distinctio?</p> </b-col>
          <b-col md="3" class="p-4"> <img src="../assets/tuerca.png" alt="ph3" width="70"> <h3> <b>Garanty </b></h3><p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum libero, rerum minima laborum aperiam! Quo reprehenderit.</p> </b-col>
          <b-col md="3" class="p-4"> <img src="../assets/tuerca.png" alt="ph4" width="70"> <h3> <b>Support</b></h3> <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat deleniti dolor ipsam asperiores, dicta quis?</p> </b-col>
        </b-row>
      </b-container>
     </b-container>  <!-- end main-content -->


     <b-container fluid style="background-color:#4CAF50; font-family: 'Hepta Slab', serif">
        <b-row class="text-center text-white">
          <b-col md="12" class="p-5">
             <h1>COME TO US AND BE HAPPY</h1> <br> 
              <b-button variant="dark">Learn more</b-button>
          </b-col>
        </b-row>
     </b-container>  <!-- end section two-->

    <b-container fluid>
       <b-container>
         <b-row class="p-5">
          <b-col md="6">
             <img src="../assets/llave.png" alt="pho" class="key" >
          </b-col>
          <b-col md="6">
             <h1>BUILD BY EXPERTS, BE PROFESSIONAL</h1>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates excepturi, quasi similique laborum facere debitis qui. Quidem, maxime modi? Quae, est quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis alias veritatis deleniti! Maxime delectus commodi numquam rerum quia. Fugiat sed aspernatur repellat animi aperiam. Ratione aliquam accusamus maxime saepe.  </p>
             <br> 
             <b-button id="btn1" pill style="background-color:#4CAF50" >Learn More</b-button>
          </b-col>
         </b-row>
       </b-container>
    </b-container> <!-- end section two-one-->



     <b-container  fluid style="background-color:#000000">
      <b-container>
        <b-row class="text-center text-white p-2">
          <b-col md="4" class="p-4"> <img src="../assets/par.png" alt="ph1" width="75" > <br> <br> <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam  reiciendis  eaque quo numquam nisi!"</p> </b-col>
          <b-col md="4" class="p-4"> <img src="../assets/par.png" alt="ph2" width="75"> <br> <br> <p> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam,ab molestias natus eum distinctio?"</p></b-col>
          <b-col md="4" class="p-4"> <img src="../assets/par.png" alt="ph3" width="75"> <br> <br> <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum libero, rerum minima laborum aperiam."</p></b-col>
        </b-row>
      </b-container>
     </b-container>  <!-- end section three -->


     <b-container>
       <b-container>
          <b-row class="text-center" >

              <b-col class="p-5" md="12"  >
                <div>
                  <h3>CONTACT US</h3> <br>
        
                <b-input-group  class="mt-3">
                  <b-form-input></b-form-input>
                  <b-input-group-append>
                    <b-button variant="dark">Send</b-button>
                  </b-input-group-append>
               </b-input-group>

                  <b-form-text>
                    We care about your privacy and will not share your.
                  </b-form-text>
                </div>

              </b-col>
          </b-row>
       </b-container>
     </b-container>
     

      
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:300,400,500,600,700,800&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,900&display=swap');

html, body{
   margin: 0;
   position: relative; 

}
 .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
.header-content{
  background-image:linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url('../assets/bg.png');
  height: 75%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
 
  }
  span.a{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 42px;
    
  }

  p{
    font-family: 'Raleway', sans-serif;
  }

  .main-content{
  background: #BDBDBD; 
    /* background:linear-gradient(135deg, #868d96 0%,#5D6874 100%); */
    color: #ffffff;
  }


  #btn1{
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    border: none;
  }

  .key{
    width: 400px;
    max-width: 100%;
    height: auto;
    float: right;
  }


</style>
